.flex-row {
    display: flex;
    flex-direction: row;
}

.profile-nav {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.profile-nav>li {
    flex: 1 0 auto;
    border-right: 1px solid white;
}

.profile-nav>li>a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.marginright {
    margin-right: 8px;
}