.userpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 82px;
    /* margin for footer */
}

.profile-nav {
    display: flex;
    flex-direction: row;
}

.teamform {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.teamform > * {
    margin-bottom: 8px;
}

.button {
    width: 100%;
    height: 48px;
    border: 0;
    background-color: #f67600;
    color: white;
    border-radius: 4px;
}

.input {
    padding: 0.2rem 0.5rem;
    border-radius: 0.4rem;
    border: 1px solid;
}
