body,
html {
    margin: 0;
}

ul.navigation {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    background-color: grey;
}

.navigation > li {
    padding: 16px;
    background-color: grey;
}
